body{
    background-color: rgb(30, 30, 30);
    margin: 0%;
}
main{
    color: white;
    margin: 20px;
}
.navbarcontainer{
    background-color: #E05642;
}
.navbar{
    font-family: "Red Hat Display", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 100px;
    padding: 10px 100px;
    border-bottom: 5px solid white;
    border-left: 5px solid white;
    border-right: 5px solid white;
    border-radius: 10px;
    margin-top: -5px;
    padding: 30px 30px;
    
}
.name{
    margin-top: 4px;
    margin-right: 700px;
}
.name span{
    color: #E05642;
}
.logo{
    margin-left: 20px;
    margin-bottom: 10px;
}
.name h1{
    color: white;
    margin: 0px;
}
.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.nav-links li{
    margin: 0px 10px;
}
.nav-links a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 8px 5px;
}
.nav-links a:hover{
    color: #9b2311;
    border-bottom: 2px solid #9b2311;
    transition: all;
    transition-duration: 300ms;
}
.test{
    color: white;
    font-size: 50px;
}