body{
    background-image: url(images/headerpagebg.png);
    margin: 0%;
}
main{
    color: white;
    margin: 20px;
}
.name{
    text-align: center;
    font-family: "Montserrat", sans-serif;
    display: block;
    background-color: #E05642;
    color: white;
    padding: 1px;
}
.navbar ul{
    list-style-type: none;
    background-color: #E05642;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: #AE3625;
}
.navbar li{
    float: left;
}
.section1{
    text-align: center;
    color: white;
    background-color: #E05642;
}
.aside1{
    display: flex;
    align-items: right;
    margin-right: 300px;
}